@media (max-width: 1550px) {

.header_wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 25px 0 0;
}

.header_logo {
	text-align: left;
	flex-basis: auto;
	padding-left: 40px;
}

.header_logo_link {
	width: 115px;
}

.header_phone {
	text-align: right;
	flex-basis: auto;
	padding-right: 40px;
}

.header_items {
	margin-top: 25px;
}

.nav_li:hover {
	padding-bottom: 24px;
  margin-top: 24px;
}

.header_cart {
	padding: 19px 40px 25px;
	margin-right: 0;
}

.header .container {
	-webkit-order: 10;
	-moz-order: 10;
	-ms-order: 10;
	-o-order: 10;
	order: 10;
}

footer .header_logo {
	padding-left: 0;
}

}


/* Адаптив на компьютеры */
@media (max-width: 1200px) {

html {
	font-size: 15px;
}

.container,
.nav_banner {
	max-width: none;
	width: 80%;
}

.title_level_1 {
	font-size: 5rem;
}

}

/* Адаптив на ноутбуки */
@media (max-width: 992px) {

html {
	font-size: 14px;
}

.product_item {
	flex-basis: calc(50% - 32px);
	margin: 0 16px 95px;
}

.about_items {
	flex-wrap: wrap;
}

.about_item {
		flex-basis: calc(50% - 32px);
}


}